.footer {
  padding: 40px 0;
  background-color: #131313;
  .footer__content {
    display: flex;
    justify-content: space-between;
    .logo {
      max-width: 175px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      > a {
        max-width: 150px;
      }
      .links {
        max-width: 150px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
      }
      .bad-see {
        display: flex;
        align-items: center;
        gap: 11px;
        span {
          font-size: 15px;
          font-weight: 400;
          line-height: 17px;
          color: #fff;
        }
      }
    }
    .mobile-link {
      max-width: 280px;
      width: 100%;
      span {
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        color: #fff;
        @include vp-768 {
          display: none;
        }
      }
      &-grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 15px;
        a {
          border-radius: 2px;
        }
      }
    }
    .footer_nav {
      max-width: 280px;
      width: 100%;
      span {
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        color: #fff;
      }
      &-lists {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 25px;
          margin: 0;
          padding: 0;
          li {
            a {
              color: #fff;
              font-size: 15px;
              font-weight: 300;
              line-height: 17px;
            }
          }
        }
      }
      @include vp-1024 {
        display: none;
      }
    }
    .footer_contacts {
      max-width: 190px;
      width: 100%;
      > span {
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        color: #fff;
      }
      .info-time {
        .info-text {
          position: relative;
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
          padding-left: 24px;
          color: #fff;
          &::before {
            content: url("data:image/svg+xml,%3Csvg width='12.000000' height='12.000000' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip877_12661'%3E%3Crect id='clock (4) 1' width='12.000000' height='12.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='clock (4) 1' width='12.000000' height='12.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip877_12661)'%3E%3Cpath id='Vector' d='M6 0C2.69531 0 0 2.69141 0 6C0 9.30859 2.69531 12 6 12C9.30469 12 12 9.30859 12 6C12 2.69141 9.30469 0 6 0ZM8.85156 9.10352C8.75781 9.20093 8.625 9.25 8.5 9.25C8.375 9.25 8.24219 9.20093 8.14844 9.10352L5.64844 6.60352C5.55469 6.51001 5.5 6.38293 5.5 6.25L5.5 3C5.5 2.72351 5.72656 2.5 6 2.5C6.27344 2.5 6.5 2.72351 6.5 3L6.5 6.04297L8.85156 8.39648C9.04688 8.59204 9.04688 8.90796 8.85156 9.10352Z' fill='%23009FE3' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
            position: absolute;
            top: 0px;
            left: 0;
          }
        }
      }
      .info-tel {
        .info-text {
          position: relative;
          color: #fff;
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
          padding-left: 24px;
          &::before {
            content: url("data:image/svg+xml,%3Csvg width='12.000000' height='12.000000' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip877_12655'%3E%3Crect id='telephone-call (9) 2' width='12.000000' height='12.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='telephone-call (9) 2' width='12.000000' height='12.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip877_12655)'%3E%3Cpath id='Vector' d='M0.328125 5.09045C0.117188 4.51782 -0.0390625 3.93298 0.0078125 3.31152C0.0390625 2.92896 0.179688 2.60242 0.460938 2.33447C0.765625 2.04688 1.05469 1.74475 1.35156 1.45227C1.74219 1.06726 2.23438 1.0697 2.625 1.45227C2.86719 1.68872 3.10156 1.92993 3.34375 2.17114C3.57031 2.40271 3.80469 2.63416 4.03906 2.86804C4.44531 3.27991 4.44531 3.75989 4.03906 4.16931C3.75 4.46167 3.46094 4.75659 3.16406 5.04407C3.08594 5.11963 3.07812 5.18298 3.11719 5.27808C3.3125 5.74585 3.59375 6.1626 3.91406 6.55249C4.54688 7.33716 5.27344 8.03406 6.13281 8.57251C6.32031 8.68701 6.51562 8.77234 6.71094 8.8772C6.8125 8.93079 6.875 8.9137 6.96094 8.83081C7.25 8.53113 7.54688 8.23633 7.84375 7.94141C8.23438 7.5564 8.71875 7.55396 9.10938 7.94141C9.58594 8.41418 10.0625 8.88928 10.5312 9.36694C10.9297 9.7666 10.9297 10.2563 10.5312 10.6584C10.2578 10.9313 9.97656 11.1896 9.71875 11.4747C9.35156 11.889 8.88281 12.0254 8.35156 11.9962C7.57812 11.9548 6.85938 11.6965 6.17188 11.3627C4.64062 10.6194 3.33594 9.58862 2.24219 8.28748C1.4375 7.32251 0.765625 6.27466 0.328125 5.09045ZM12 5.96277C12 2.67554 9.32031 0 6.03906 0L6.03906 1.1355C8.69531 1.1355 10.8672 3.30176 10.8672 5.96277L12 5.96277ZM8.73438 5.96277L9.86719 5.96277C9.86719 3.8501 8.14844 2.12976 6.03906 2.12976L6.03906 3.26526C6.75781 3.26526 7.4375 3.54553 7.94531 4.05481C8.45312 4.56409 8.73438 5.24146 8.73438 5.96277Z' fill='%23009FE3' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
            position: absolute;
            top: 0px;
            left: 0;
          }
        }
      }
      .choose__region {
        margin-top: 20px;
        position: relative;
        padding-left: 22px;
        padding-right: 22px;
        span {
          color: #fff;
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
        }
        &::before {
          content: url("data:image/svg+xml,%3Csvg width='12.750000' height='17.000000' viewBox='0 0 12.75 17' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M6.375 0C4.6875 0.00219727 3.0625 0.674561 1.86719 1.86963C0.671875 3.0647 0 4.68494 0 6.375C0 10.9517 5.9375 16.684 6.19531 16.9257C6.24219 16.9734 6.30469 17 6.375 17C6.44531 17 6.50781 16.9734 6.55469 16.9257C6.8125 16.684 12.75 10.9517 12.75 6.375C12.75 4.68494 12.0781 3.0647 10.8828 1.86963C9.6875 0.674561 8.0625 0.00219727 6.375 0ZM6.375 9.29688C5.79688 9.29688 5.23438 9.12549 4.75 8.80444C4.27344 8.4834 3.89844 8.0271 3.67188 7.49316C3.45312 6.95923 3.39844 6.3717 3.50781 5.80493C3.625 5.23816 3.89844 4.71753 4.3125 4.30896C4.71875 3.90027 5.23438 3.62195 5.80469 3.50928C6.375 3.39648 6.96094 3.45435 7.49219 3.67554C8.02344 3.89673 8.48438 4.27124 8.80469 4.75171C9.125 5.23218 9.29688 5.79712 9.29688 6.375C9.29688 7.14978 8.99219 7.8927 8.4375 8.44055C7.89062 8.9884 7.14844 9.29639 6.375 9.29688Z' fill='%23009FE3' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
          position: absolute;
          left: 0;
          top: 2px;
        }
        &::after {
          content: url("data:image/svg+xml,%3Csvg width='14.000000' height='14.000000' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip877_13505'%3E%3Crect id='down-arrow (15) 1' width='14.000000' height='14.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='down-arrow (15) 1' width='14.000000' height='14.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip877_13505)'%3E%3Cpath id='Down_Arrow_3_' d='M7 9.625C6.89062 9.625 6.77344 9.58203 6.6875 9.49609L2.3125 5.12109C2.14844 4.95117 2.14844 4.67383 2.3125 4.50391C2.48438 4.33203 2.76562 4.33203 2.9375 4.50391L7 8.56836L11.0625 4.50391C11.2344 4.33203 11.5156 4.33203 11.6875 4.50391C11.8516 4.67383 11.8516 4.95117 11.6875 5.12109L7.3125 9.49609C7.22656 9.58203 7.10938 9.625 7 9.625Z' fill='%23FFFFFF' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
          position: absolute;
          right: 0;
          top: 2px;
        }
      }
      .link {
        margin-top: 12px;
        margin-left: 24px;
      }
      @include vp-768 {
        display: none;
      }
    }
    @include vp-768 {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .mobile-link {
        margin-top: 10px;
      }
      .license {
        margin-top: 10px;
        display: flex !important;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
.footer__bottom-wrapper {
  background-color: #000;
  padding: 6px 0;
  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .license {
      display: flex;
      align-items: center;
      gap: 6px;
      @include vp-768 {
        display: none;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 50px;
      @include vp-768 {
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  @include vp-768 {
    padding: 20px 0;
  }
}
