.section-first__block {
  background-color: #ecf0f4;
  position: relative;
  .first__block-slider {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    height: 100%;
    &::after {
      content: url("../img/items/top-slider/man.png");
      position: absolute;
      bottom: -10%;
      left: 50px;
      z-index: 30;
    }
    .topSlider {
      height: 100%;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
    }
  }
}
.first__block {
  &-info {
    padding: 90px 0;

    display: flex;
    flex-direction: column;
    gap: 50px;
    .text {
      max-width: 370px;
      ul {
        padding: 0;
        margin: 0px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        li {
          position: relative;
          padding-left: 50px;
          font-size: 24px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: left;
          &::before {
            content: url("data:image/svg+xml,%3Csvg width='38.000000' height='38.000000' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip877_12628'%3E%3Crect id='check (13) 1' width='38.000000' height='38.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='check (13) 1' width='38.000000' height='38.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip877_12628)'%3E%3Cpath id='Vector' d='M19 0C8.52344 0 0 8.52295 0 19C0 29.4771 8.52344 38 19 38C29.4766 38 38 29.4771 38 19C38 8.52295 29.4766 0 19 0Z' fill='%232196F3' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M28.6328 14.9736L18.3438 25.2651C18.0312 25.574 17.625 25.7294 17.2188 25.7294C16.8203 25.7294 16.4141 25.574 16.1016 25.2651L10.9531 20.1194C10.3359 19.5005 10.3359 18.4996 10.9531 17.8807C11.5781 17.2615 12.5781 17.2615 13.1953 17.8807L17.2188 21.9071L26.3906 12.735C27.0156 12.1157 28.0156 12.1157 28.6328 12.735C29.25 13.3539 29.25 14.3545 28.6328 14.9736Z' fill='%23FAFAFA' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
            position: absolute;
            left: 0;
            top: 7px;
          }
        }
      }
    }
    .contact_form {
      max-width: 440px;
      padding: 20px;
      border-radius: 10px 76px 10px 10px;
      box-shadow: 0px 13px 23.4px 0px rgba(0, 0, 0, 0.15);
      background: rgb(255, 255, 255);
      &-title {
        display: block;
        max-width: 60%;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: left;
        color: #000;
        span {
          color: var(--accent);
        }
      }
      &-form {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 11px;
        button {
          flex-basis: 50%;
        }
        &-input {
          display: flex;
          align-items: center;
          flex-basis: 50%;
          border: 1px solid rgba(157, 157, 157, 0.9);
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.8);
          padding-left: 40px;
          position: relative;
          input {
            font-size: 12px;
            font-weight: 300;
            line-height: 14px;
            letter-spacing: 0%;
            text-align: left;
            color: #3d3d3d;
          }
          &::before {
            content: url("data:image/svg+xml,%3Csvg width='12.000000' height='12.000000' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip877_12608'%3E%3Crect id='telephone-call (9) 2' width='12.000000' height='12.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='telephone-call (9) 2' width='12.000000' height='12.000000' fill='%23FFFFFF' fill-opacity='0'/%3E%3Cg clip-path='url(%23clip877_12608)'%3E%3Cpath id='Vector' d='M0.328125 5.09033C0.117188 4.51782 -0.0390625 3.93286 0.0078125 3.31152C0.0390625 2.92896 0.179688 2.60254 0.460938 2.33447C0.765625 2.04688 1.05469 1.74463 1.35156 1.45239C1.74219 1.06738 2.23438 1.06982 2.625 1.45239C2.86719 1.68872 3.10156 1.92993 3.34375 2.17114C3.57031 2.40259 3.80469 2.63403 4.03906 2.86816C4.44531 3.27979 4.44531 3.76001 4.03906 4.16919C3.75 4.46167 3.46094 4.75659 3.16406 5.04419C3.08594 5.11963 3.07812 5.18311 3.11719 5.27808C3.3125 5.74585 3.59375 6.1626 3.91406 6.55249C4.54688 7.33716 5.27344 8.03394 6.13281 8.57251C6.32031 8.68701 6.51562 8.77246 6.71094 8.8772C6.8125 8.93066 6.875 8.91357 6.96094 8.83081C7.25 8.53101 7.54688 8.23633 7.84375 7.94141C8.23438 7.5564 8.71875 7.55396 9.10938 7.94141C9.58594 8.41406 10.0625 8.8894 10.5312 9.36694C10.9297 9.7666 10.9297 10.2563 10.5312 10.6584C10.2578 10.9314 9.97656 11.1897 9.71875 11.4746C9.35156 11.8889 8.88281 12.0254 8.35156 11.9961C7.57812 11.9548 6.85938 11.6965 6.17188 11.3625C4.64062 10.6194 3.33594 9.58862 2.24219 8.28735C1.4375 7.32251 0.765625 6.27466 0.328125 5.09033ZM12 5.96265C12 2.67554 9.32031 0 6.03906 0L6.03906 1.1355C8.69531 1.1355 10.8672 3.30176 10.8672 5.96265L12 5.96265ZM8.73438 5.96265L9.86719 5.96265C9.86719 3.8501 8.14844 2.12964 6.03906 2.12964L6.03906 3.26538C6.75781 3.26538 7.4375 3.54541 7.94531 4.05469C8.45312 4.56396 8.73438 5.24146 8.73438 5.96265Z' fill='%23009FE3' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
            position: absolute;
            left: 20px;
            top: 6px;
          }
        }
      }
    }
  }
}
